
LINKWEAVE_API_DEPLOYMENT_PUBLIC_URL=https://local-linkweave.localhost:4443
LINKWEAVE_API_DEPLOYMENT_INSTANCE
LINKWEAVE_OIDC_CLIENT_SECRET=my-oidc-client-secret
LINKWEAVE_FORM_LOGIN_COOKIE_SECRET=my-form-login-secret
